body {background-color: #F1ECC3;}
H1 {color: #D54C4C; }
h3 {color: #865439;}
hr { border-color: #5E454B;
   border-style: dotted none none;
   border-width: 8px;
height: 20px;
width: 10%;}
a:hover {color: #E5D549; }
.text_color {color: #B4846C; }
#Avatar {border-radius: 20px; }
